footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 70px;
  img {
    width: 15vw !important;
    position: static !important;
  }
}
